@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: inter;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
}

/* HOME STYLES */
.landing-page {
    background-image: url('./images/wallaper.webp');
    background-size: contain;
    height: 100vh;
}

.landing-nav {
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    font-weight: 600;
}

.links {
    display: flex;
}

.landing-nav a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid;
    margin: 1vh 2vw;
    width: max-content;
    padding: 0vh .5vw;
    padding-bottom: 1.5vh;
    padding: 1.5vh;
    transition: .3s ease-in;

}

.landing-nav a:hover {
    color: blue;
    border: 1px solid;
    border-radius: 3px;
}

.content-card {
    color: white;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 2vw;
    background-color: rgb(66, 71, 78);
    /* background-color: rgb(176, 180, 184); */
    margin-top: 9vh;
    font-size: 1.8rem;
    padding-bottom: 10vh;
    opacity: .95;
}

.btns {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.btns button {
    color: white;
    border-radius: 3px;
    font-weight: 700;
    border: none;
    background-color: #0d6efd;
    padding: 2vh 2vw;
    font-size: 1.2rem;
}

.btns button:hover {
    color: white;
    border: 1px solid yellow;
    background-color: black;
}



/* sign up page styles */
.singup-form {
    width: 40%;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    padding: 2vh 2vw;
    padding-bottom: 5vh;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(86, 98, 104, 0.5);
    background-color: rgb(176, 180, 184);
}

.singup-form form {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2vh;
}

.singup-form form div {
    margin-right: 2vw;
    padding: 1vh;
}

label {
    display: block;
    margin-top: 2vh;
}

.singup-form form input {
    border: none;
    border-bottom: 1px solid;
    height: 4.5vh;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.singup-form form input:focus,
.singup-form form input:hover {
    border-bottom: 2px solid;
}

.singup-form form button {
    display: block;
    margin-top: 3vh;
    height: 98%;
    margin-left: 55%;
    margin-right: -55%;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    background-color: #0d6efd;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    transition: transform .3s ease-in;
}

.singup-form form button:hover {
    transform: scale(1.1);
}

/* DASHBOARD PAGE */
.dashboard {
    background-color: rgb(211, 217, 223);
    height: 100vh;
}

.dashboard nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 0vh 2vw;
    background-color: rgb(176, 180, 184);
}

.dash-nav-btns {
    display: flex;
}

.dashboard button {
    padding: 1.3vh 1.5vw;
    font-size: .9rem;
    font-weight: 500;
    background-color: #428af7;
    border: none;
    border-radius: 3px;
    transition: transform .3s ease-in;
    margin-right: 2vh;
}

.dashboard button:hover {
    transform: scale(1.1);
    border: 1px solid white;
}

.dash-content {
    padding: 1vh 2vw;
    height: 80vh;
}

/* .dashboard-left {
    display: flex;
    justify-content: space-between;
} */

table {
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
}

thead {
    height: 30px;
    border-bottom: 1px solid;
    border-left: 1px solid white;
    text-align: left;
    padding-left: 5px;
    /* background-color: rgb(176, 142, 209); */
    background-color: #6199ec;
    color: black;
    font-weight: 500;
}

.table-section {
    height: 64vh;
    width: 110%;
    overflow: auto;
}

td {
    padding-left: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* stop button */
.stop-process button {
    background-color: red;
}

.forgot-password {
    font-size: 12px;
    float: right;
    margin-top: .5vh;
    color: purple;
}

.login-password-container {
    position: relative;

}

.togglePassword {
    color: gray;
    position: absolute;
    top: 50%;
    right: 3%;
}

.forgot-form {
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    padding: 2vh 2vw;
    padding-bottom: 5vh;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(86, 98, 104, 0.5);
    background-color: rgb(176, 180, 184);
}

.forgot-form label {
    display: block;
    margin: .5vh 0vw;
}


.forgot-form input {
    width: 70%;
    height: 5vh;
    font-size: 14px;
    padding: 0vh .5vw;
    border-radius: 3px;
    border: none;
}

.forgot-form button {
    padding: 1.3vh 1.5vw;
    font-size: .9rem;
    font-weight: 500;
    background-color: #428af7;
    border: none;
    border-radius: 3px;
    transition: transform .3s ease-in;
    margin-top: 2vh;
}

.forgot-form button:hover {
    transform: scale(1.1);
}


.forgot-form form .add-code input {
    text-align: center;
    width: 35%;
    margin: auto;
}

span {
    color: blue;
    font-size: smaller;
}

.add-code {
    text-align: center;
}

.message {
    color: red;
    font-size: 12px;
}
.reset-password{
    width: 80%;
    text-align: left;
    margin: auto;
    padding-left: 3vw;
    position: relative;
}
.reset-password input{
    width: 90%;
}

.reset-password label{
    margin-top: 1.2vh;
    font-size: 14px;
}

.reset-password-eye{
    color: grey;
    position: absolute;
    right: 8%;
    top: 25%;
}

.reset-password-eye2{
    color: grey;
    position: absolute;
    right: 8%;
    top: 51%;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 13px;
    font-weight: 700;
}

/* home dahsboard */
.dahsboard-left-h1{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.dahsboard-left-h1 .fa-bars{
    font-size: 2.3rem;
    color: rgb(43, 43, 43);
    margin-right: 1vh;
}
.dahsboard-left-h1 .fa-bars:hover{
    color: grey;
}
.dahsboard-left-h1 button:hover{
    border: none;
}

.message-error{
    /* position: absolute; */
    font-size: 15px;
    /* right: 5%; */

}

.eye-signup{
    position: absolute;
    right: 0;
}

.text-area{
    width: 90%;
    background-color: transparent;
    border: 1px solid white;
}
.contact-btn{
    width: 100%;
    margin: 0;
}
.contact-btn button{
    width: 30%;
    padding: 1vh 0vw;
}
.socials-contact{
    display: flex;
    justify-content: space-between;
}

.socials-contact div h4{
    margin: 0;
}
.socials-contact div small{
    display: block;
}