<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='app.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="landing-page">
        <nav class="landing-nav">
            <div class="">
                <i class="fa-solid fa-gear fa-spin fa-3x"></i>
            </div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/signup">Register</a>
                <a href="/login">Login</a>
                <a href="/contact">Contact Us</a>
            </div>
        </nav>
        <div class="forgot-form">
            <i class="fa-solid fa-gear fa-spin fa-2x"></i>
            <p>We sent a code to the email <br> <span>({{email}})</span> </p>
            <form action="/{{url}}" method="post">
                <div class="add-code">
                    <label>Please input the code below:</label>
                    <p class="message">{{message}} </p>
                    <input type="text" name="code" id="code" placeholder="000000" required><br>
                    <input style="font-size: 13px; visibility: hidden; height: 0px;" type="email" name="email" id="email"value={{email}} required>                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/show_password.js') }}"></script>
</body>

</html>