<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='app.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="landing-page">
        <nav class="landing-nav">
            <div class="">
                <i class="fa-solid fa-gear fa-spin fa-3x"></i>
            </div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/signup">Register</a>
                <a href="/login">Login</a>
                <a href="/contact">Contact Us</a>
            </div>
        </nav>
        <div class="forgot-form">
            <i class="fa-solid fa-gear fa-spin fa-2x"></i>
            <form action="/send-code" method="post">
                <div class="">
                    <label>Please enter your email address:</label>
                    <input type="email" name="email" id="email" placeholder="johndoe@gmail.com" required>
                </div>
                <button>Submit</button>
                <p class="message">{{message}}</p>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/show_password.js') }}"></script>
</body>

</html>