<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='app.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="dashboard">
        <nav>
            <div class="">
                <div class="dahsboard-left-h1">
                    <form action="/change-password">
                        <button style="visibility: none; background-color: transparent; padding: 0; border: none;"><i class="fa-solid fa-bars " title="Reset Password"></i></button>
                    </form>
                    <h1> W<i class="fa-solid fa-gear fa-spin"></i>Ling</h1>
                </div>
            </div>
            <div class=" dash-nav-btns">
                <form action="/detect-anomaly">
                    <button><i class="fa-solid fa-power-off"></i> Start</button>
                </form>
                <form class="stop-process" action="/dashboard">
                    <button><i class="fa-solid fa-stop"></i> Stop</button>
                </form>
                <form action="/graph">
                    <button><i class="fa-solid fa-chart-line"></i> Graph</button>
                </form>
                <form action="/logout">
                    <button><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</button>
                </form>
            </div>
        </nav>
        <div class="dash-content">
            <div class="dashboard-left">
                <h2>Welcome {{name}}!</h2>
                <h2>Dashboard</h2>
            </div>
            <h3>System logs </h3>
            <div class="table-section">
                <table>
                    <thead>
                        <td>Time</td>
                        <td>Count</td>
                    </thead>
                    <tbody class="tbody-content">
                        {% for row in rows %}
                        <tr>
                            <td>{{row["time"]}}</td>
                            <td>{{row["count"]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <p>Copyright&copy;2023|All Rights Reserved</p>
        </div>
    </div>
</body>

</html>