<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='app.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="landing-page">
        <nav class="landing-nav">
            <div class="">
                <i class="fa-solid fa-gear fa-spin fa-3x"></i>
            </div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/signup">Register</a>
                <a href="/login">Login</a>
                <a href="/contact">Contact Us</a>
            </div>
        </nav>
        <div class="singup-form">
            <i class="fa-solid fa-gear fa-spin fa-2x"></i>
            <form action="/logvalidate" method="post">
                <div class="">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
</body>

</html>