<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='app.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="landing-page">
        <nav class="landing-nav">
            <div class="">
                <i class="fa-solid fa-gear fa-spin fa-3x"></i>
            </div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/signup">Register</a>
                <a href="/login">Login</a>
                <a href="/contact">Contact Us</a>
            </div>
        </nav>
        <div class="forgot-form">
            <i class="fa-solid fa-gear fa-spin fa-2x"></i>
            <p>Please input your new password</p>
            <form action="/reset-password" method="post">
                <div class="reset-password">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"  required><br>
                    <i class="fa-solid fa-eye reset-password-eye" id="togglePassword"></i>
                    <label for="confpassword"> Confirm Password:</label>
                    <input type="password" name="confpassword" required>
                    <p class="message">{{message}}</p>
                </div>
                <button>Submit</button> <br>
                <input style="height: 0px; visibility: none;" type="email" id="email" name="email" value="{{email}}" required><br>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/show_password2.js') }}"></script>
</body>

</html>